@page
@model BookingSystem.Pages.AdminPanel.TrainingsListModel
@{
}
<h1>Trainings Schedule</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                @for (int i = 0; i < 7; i++)
                {
                    var currentId = 54 + i;
                    var rowData = Model.Date.FirstOrDefault(item => item.DateID == currentId);

                    if (rowData != null)
                    {

                        <th>@rowData.Dates.ToShortDateString()</th>
                        <!-- Kitos stulpelio reikšmės -->
                    }
                    else
                    {
                        <!-- Jei nėra duomenų su tokiu ID -->

                        <th>No data</th>
                        <!-- Kitos stulpelio reikšmės -->
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var times in Model.Time)
            {
                <tr>
                    <td>@times.Times.ToString("HH:mm")</td>
                    @for (int i = 0; i < 7; i++)
                    {
                        var currentId = 54 + i;
                        var rowData = Model.Date.FirstOrDefault(item => item.DateID == currentId);
                        bool checkTraining=false;
                        var scheduleID = 0;
                            @foreach (var schedule in Model.Schedule)
                            {

                                var training = schedule.Training;
                                var trainigData = Model.GroupTraining.FirstOrDefault(schedule => schedule.TrainingID == training);

                                if (times.TimeID == schedule.Time && currentId == schedule.Date)
                                {
                                    checkTraining = true;
                                    scheduleID = schedule.ScheduleID;
                                    break;
                                }
                            }
                                @if (checkTraining)
                                {
                                var schedule = Model.Schedule.FirstOrDefault(item => item.ScheduleID == scheduleID); 
                                var training = schedule.Training;
                                var trainigData = Model.GroupTraining.FirstOrDefault(schedule => schedule.TrainingID == training);

                                    <td>
                                        <a asp-page="./EditSchedule" asp-route-ScheduleID="@scheduleID" class="btn btn-dark">@trainigData.Training</a>
                           
                                    </td>                                ;
                                }
                            else
                                {
                                    <td>
                                        <form method="post">
                                            <input type="hidden" class="form-control" asp-for="AddToSchedule.TrainingID" value="1" />
                                            <input type="hidden" class="form-control" asp-for="AddToSchedule.DateID" value="@currentId" />
                                            <input type="hidden" class="form-control" asp-for="AddToSchedule.TimeID" value="@times.TimeID"/>
                                            <button type="submit" class="btn btn-primary">New</button>
                                        </form>
                                    </td>
                                }
                            
                    }
                </tr>
            }
        </tbody>
    </table>
